@media screen and (max-width: 500px) {
    /*.content {
        padding: 20px 40px;
    }*/

}

/* Reset body margins and set min-height */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    /* Ensure full height */
}



/* Content should expand to push footer down */
.content {
    flex: 1;
    padding: 20px;
    max-width: 65ch;
    margin: auto;
}


/*MARKDOWN START!!!*/
a {
    background-image: linear-gradient(var(#44F7D3) 0 0);
    background-size: 0%;
    transition: 0.4s;
}

a:hover {
    background-size: 100%;
    background-repeat: no-repeat;
    text-decoration: underline;
}